<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DC</title>

        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/client/css/vendors/bootstrap.min.css">
        <link rel="stylesheet" href="/client/css/vendors/bootstrap-select.min.css">
        <link rel="stylesheet" href="/client/css/main.css">
        <link rel="stylesheet" href="/client/css/ui.css">
        <link rel="stylesheet" href="/client/css/meter.css">
        <script data-main="/client/js/main"
                src="/client/js/vendors/require.min.js">
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div id="auth" class="col-xs-4 col-xs-offset-4">
                <h2 id="logo" class="text-center">
                    <img src="/client/img/logo.jpg" class="img-rounded">
                </h2>
                <div id="error" class="form-group alert alert-danger"></div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#login-form">Log In</a></li>
                    <li><a data-toggle="tab" href="#signup-form">Sign Up</a></li>
                </ul>
                <div class="tab-content">
                    <div id="login-form" class="tab-pane active">
                        <div class="form-group">
                            <label for="server-address">Address</label>
                            <select id="server-address"
                                    class="form-control server-address">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="login">Login</label>
                            <input id="login"
                                   type="text"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password"
                                   type="password"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="button" id="submit-login" class="btn btn-default">
                                Log In
                            </button>
                        </div>
                    </div>
                    <div id="signup-form" class="tab-pane">
                        <div class="form-group">
                            <label for="server-address">Address</label>
                            <select id="server-address"
                                    class="form-control server-address">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="login">Login</label>
                            <input id="login"
                                   type="text"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input id="name"
                                   type="text"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="asset">Asset</label>
                            <select id="asset"
                                    class="form-control selectpicker">
                                <option value='ship_1'>Ship 1</option>
                                <option value='ship_2'>Ship 2</option>
                                <option value='ship_3'>Ship 3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password"
                                   type="password"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Confirm password</label>
                            <input id="confirm-password"
                                   type="password"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="button" id="submit-signup"
                                    class="btn btn-default">
                                Sign Up
                            </button>
                        </div>
                </div>
            </div>
            </div>
            <div id="game">
                <div id="viewport"></div>
                <div id="ui">
                    <div id="ui-object-context" class="ui">
                        <div id="ui-object-info" class="panel panel-info">
                        </div>
                        <div id="ui-area-selection">
                            <select id="ui-select-area"
                                    class="form-control selectpicker">
                            </select>
                        </div>
                        <button id="ui-capture" class="btn btn-default">
                            <span class="glyphicon glyphicon-tower"></span>
                            Capture
                        </button>
                        <button id="ui-pull" class="btn btn-default">
                            <span class="glyphicon glyphicon-magnet"></span>
                            Pull
                        </button>
                    </div>
                    <div id="ui-control-mode" class="ui">
                        <div id="ui-select-control-mode"
                                    class="btn-group-vertical">
                            <button value="view" class="btn btn-default">
                                <span class="glyphicon glyphicon-eye-open">
                                </span>
                            </button>
                            <button value="move" class="btn btn-default">
                                <span class="glyphicon glyphicon-arrow-right">
                                </span>
                            </button>
                            <button value="shot" class="btn btn-default">
                                <span class="glyphicon glyphicon-screenshot">
                                </span>
                            </button>
                        </div>
                        <div id="ui-control-mode-context" class="ui"></div>
                    </div>
                    <div id="ui-common" class="ui">
                        <button id="ui-focus-to-myself" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        <button id="ui-recover" class="btn btn-default">
                            <span class="glyphicon glyphicon-wrench"></span>
                        </button>
                        <button id="ui-cancel-pull" class="btn btn-default">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            <span class="glyphicon glyphicon-magnet"></span>
                        </button>
                    </div>
                    <div id="ui-windows" class="ui">
                        <button id="ui-open-worldmap" class="btn btn-default">
                            <span class="glyphicon glyphicon-globe"></span>
                        </button>
                        <button id="ui-open-messages" class="btn btn-default">
                            <span id="ui-message-count"></span>
                            <span class="glyphicon glyphicon-envelope"></span>
                        </button>
                        <div id="ui-window-content" class="panel panel-default">
                            <div class="panel-heading text-right">
                                <button id="ui-close-window" class="btn btn-sm">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <h5 id="ui-window-header"></h5>
                            </div>
                            <div id="ui-messages-window" class="panel-body">
                                <ul id="ui-messages" class="list-unstyled"></ul>
                                <div class="input-group">
                                    <input id="ui-messages-input"
                                           type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button id="ui-send-message"
                                                class="btn btn-default">
                                            <span class="glyphicon glyphicon-send">
                                            </span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div id="ui-worldmap-window" class="panel-body">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="meter">
                    <div id="fps-meter"></div>
                    <div id="ping-meter"></div>
                </div>
            </div>
        </div>

        <script type="text/template" id="user-info-template">
            <div class="panel-heading"><%= name %></div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>
                        Durability: <%= durability[0] %>/<%= durability[1] %>
                    </li>
                    <li>Speed: <%= speed %></li>
                    <li>Kills: <%= kills %></li>
                    <li>Deaths: <%= deaths %></li>
                </ul>
            </div>
        </script>
        <script type="text/template" id="gate-info-template">
            <div class="panel-heading"><%= name %></div>
        </script>
        <script type="text/template" id="asteroid-info-template">
            <div class="panel-heading"><%= name %></div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>
                        Durability: <%= durability[0] %>/<%= durability[1] %>
                    </li>
                </ul>
            </div>
        </script>
        <script type="text/template" id="control-point-info-template">
            <div class="panel-heading"><%= name %></div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>
                        Durability: <%= durability[0] %>/<%= durability[1] %>
                    </li>
                    <li>Owner: <%= owner === null ? "-" : owner %></li>
                </ul>
            </div>
        </script>
    </body>
</html>
