
body {
    background-color: #272835;
}

.container {
    height: 100vh;
    color: #777;
}

.alert {
    display: none;
}

#game {
    border: 1px solid;
    border-radius: 10px;
    border-color: #b1b1b1;
    margin-bottom: 10%;
    width: 100%;
    height: 80%;
    display: none;
    overflow: hidden;
    position: relative;
}

.ui {
    position: absolute;
}

#focus-to-myself {
    top: 3%;
    left: 1%;
}

#control-mode {
    width: 7%;
    top: 3%;
    right: 1%;
}


#viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


.layer {
    z-index: 0;
    left: 0%;
    bottom: 0%;
    height: 0%;
    width: 0%;
    position: relative;
}

.world-object {
    position: absolute;
}


