
body {
    background-color: #272835;
    cursor: default;
}

.container-fluid {
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
    color: #777;
}

.popover-content {
    white-space: nowrap;
}

.alert {
    display: none;
}

#auth {
    margin-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    border: 1px solid;
    border-radius: 10px;
    border-color: #ffffff;
    overflow: hidden;
}

#auth .tab-pane {
    margin-top: 1em;
}


#auth .nav li:not(.active) a {
    color: #fff;
}

#auth .nav li:hover a {
    color: #000;
}

#logo {
    margin-bottom: 2%;
}

#game {
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
    position: relative;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

#viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#renderer {
    width: 100%;
    height: 100%;
}



