
.ui {
    position: absolute;
}

#ui-object-context {
    top: 3%;
    left: 1%;
}

#ui-control-mode {
    top: 3%;
    right: 1%;
}

#ui-common {
    bottom: 3%;
    left: 1%;
}

#ui-windows {
    bottom: 3%;
    right: 1%;
    max-height: 50%;
    max-width: 50%;
}

#ui-window-content {
    float: right;
    margin-bottom: 0%;
}

#ui-messages {
    overflow-y: scroll;
    height: 20em;
}



