
.ui {
    position: absolute;
}

#ui-object-context {
    top: 3%;
    left: 1%;
}

#ui-control-mode {
    top: 3%;
    right: 1%;
}

#ui-common {
    bottom: 3%;
    left: 1%;
}

#ui-windows {
    bottom: 3%;
    right: 1%;
    max-height: 50%;
    max-width: 50%;
}

#ui-window-header {
    float: left;
}

#ui-window-content {
    float: right;
    margin-bottom: 0%;
}

#ui-messages {
    overflow-y: scroll;
    height: 20em;
}

.ui-worldmap {
    overflow: scroll;
    width: 40vw;
    height: 30vh;
    background-color: #14141f;
}

.worldmap-field {
    position: relative;
    margin: 100px;
}

.worldmap-item {
    position: absolute;
}

.worldmap-item.current {
    color: #0486f7;
}

.worldmap-circle {
    background-color: white;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin-top: 10px;
}

.current .worldmap-circle {
    background-color: #0486f7;
}
